force-app/main/default/flows/Best_Practice.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>addAndReset</name>
        <label>addAndReset</label>
        <locationX>625</locationX>
        <locationY>367</locationY>
        <assignmentItems>
            <assignToReference>practicesToInsert</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>newPractice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>flatPractice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>nextPractice</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>continue</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>flatten</name>
        <label>flatten</label>
        <locationX>381</locationX>
        <locationY>211</locationY>
        <assignmentItems>
            <assignToReference>flatPractice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>theWidget.Best_Practice__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>continue</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setPracticeValues</name>
        <label>setPracticeValues</label>
        <locationX>457</locationX>
        <locationY>367</locationY>
        <assignmentItems>
            <assignToReference>newPractice.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>thisPractice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newPractice.Widget__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>widgetID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>addAndReset</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>continue</name>
        <label>continue?</label>
        <locationX>541</locationX>
        <locationY>213</locationY>
        <defaultConnector>
            <targetReference>insertList</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>we&apos;re done</defaultConnectorLabel>
        <rules>
            <name>yep</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>continueFormula</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setPracticeValues</targetReference>
            </connector>
            <label>yep</label>
        </rules>
    </decisions>
    <decisions>
        <name>returnCustomer</name>
        <label>returnCustomer</label>
        <locationX>159</locationX>
        <locationY>221</locationY>
        <defaultConnector>
            <targetReference>flatten</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>first time</defaultConnectorLabel>
        <rules>
            <name>we_re_back</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>theWidget.Best_Practice_Count__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>deleteOldData</targetReference>
            </connector>
            <label>we&apos;re back</label>
        </rules>
    </decisions>
    <formulas>
        <name>continueFormula</name>
        <dataType>Boolean</dataType>
        <expression>if(len({!flatPractice}) &gt; 0, true, false)</expression>
    </formulas>
    <formulas>
        <name>nextPractice</name>
        <dataType>String</dataType>
        <expression>if(FIND(&quot;;&quot;, {!flatPractice}) = 0, &quot;&quot;, RIGHT({!flatPractice},LEN({!flatPractice}) - FIND(&quot;;&quot;, {!flatPractice})))</expression>
    </formulas>
    <formulas>
        <name>thisPractice</name>
        <dataType>String</dataType>
        <expression>if(FIND(&quot;;&quot;, {!flatPractice}) = 0, {!flatPractice}, substitute(LEFT({!flatPractice}, FIND(&quot;;&quot;, {!flatPractice})),&quot;;&quot;,&quot;&quot;))</expression>
    </formulas>
    <interviewLabel>Best Practice {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Best Practice</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>insertList</name>
        <label>insertList</label>
        <locationX>749</locationX>
        <locationY>211</locationY>
        <inputReference>practicesToInsert</inputReference>
    </recordCreates>
    <recordDeletes>
        <name>deleteOldData</name>
        <label>deleteOldData</label>
        <locationX>280</locationX>
        <locationY>366</locationY>
        <connector>
            <targetReference>flatten</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Widget__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>widgetID</elementReference>
            </value>
        </filters>
        <object>Best_Practice__c</object>
    </recordDeletes>
    <recordLookups>
        <name>getWidget</name>
        <label>getWidget</label>
        <locationX>167</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>returnCustomer</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>widgetID</elementReference>
            </value>
        </filters>
        <object>Widget__c</object>
        <outputReference>theWidget</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Best_Practice__c</queriedFields>
        <queriedFields>Best_Practice_Count__c</queriedFields>
    </recordLookups>
    <startElementReference>getWidget</startElementReference>
    <status>Active</status>
    <variables>
        <name>flatPractice</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>newPractice</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Best_Practice__c</objectType>
    </variables>
    <variables>
        <name>practicesToInsert</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Best_Practice__c</objectType>
    </variables>
    <variables>
        <name>theWidget</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Widget__c</objectType>
    </variables>
    <variables>
        <name>widgetID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
